{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <a class="btn btn-primary float" href="{% url 'store:new' %}"><p>+</p></a>
        <div class="row gap50"></div>
        <div class="row">
            {% if item %}
            {% for item in items %}
            <div class="col-md-4">
                <div class="box">
                    <img src="{{item.photo}}g">
                    <p><strong>{{item.name}}</strong></p>
                    <p>Rp{{item.price}}</p>
                    <a href="{% url 'store:detail' item.id %}">Item Details</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12 d-flex justify-content-center">
                <p>There is nothing here</p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}