.navbar-brand{
    background-color: #20a099;
    padding: 10px;
}

.navbar{
    padding:0;
}

.bg-blue{
    background-color: #29cbc4;
}

.navbar-collapse ul li{
    font-size: 20px;
    font-weight: 500;
}

.box{
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}

.gap50{
    height: 50px;
}

.box img{
    width: 100%;
    padding-bottom: 10px;
}

.box p{
    padding: 0px 10%;
    margin: 0;
}

.box a{
    padding: 0px 10%;
}

.form {
    padding: 20px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
    right:40px;
    color:white;
    font-size: 30px;
    font-weight: bold;
    border-radius:50px;
    text-align:center;
    background-color: #20a099;
    border: 0px;
	box-shadow: 2px 2px 3px #999;
}